
useDynLib(rcompletion, .registration = TRUE)

## might need more imports (check with codetools)

import(utils)
importFrom(methods, slotNames)


export(rc.status,           # helps debug
       rc.settings)         # settings (ops, ns, args)

       

